<!DOCTYPE html>

    <body id="page-top">
        
    <head>
    
    <!-- hi -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <!-- bye -->
        <script src="../js/scripts.js" async></script>
    </head>
    
    <h1 class="lead">{% block title %} Timeline {% endblock %}</h1>
        <!-- <form method="post"> -->
        <form method = "post" id="add_post">
            <label for="title">Timeline Entry</label>
            <br>
            <input type="text" name="name"
                placeholder="Enter name"
                value="{{ request.form['name'] }}"></input>
            <br>
            <input type="text" name="email"
                placeholder="Enter email"
                value="{{ request.form['email'] }}"></input>
            <br>
            <label for="content" class="lead">Message Content</label>
            <br>
            <textarea name="content"
                    placeholder="Message content"
                    rows="15"
                    cols="60"
                    >{{ request.form['content'] }}</textarea>
            <br>
            
            <button class="btn btn-primary btn-sm" type="submit">Submit</button>
        </form>

        <ul>
            {% for entry in data['timeline_posts'] %}
            <li>{{entry}}</li>
            {% endfor %}
        </ul>
</html>